name: MLflow CI

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4  

    - name: Set up Python 3.8
      uses: actions/setup-python@v5  # Menggunakan Python versi 3.10
      with:
        python-version: '3.8'

    - name: Check Env
      run: |
        python --version  
        pip --version  
        uname -a  
        pwd 
        ls -la  

    - name: Install system dependencies
      run: |
        sudo apt-get update  
        sudo apt-get install -y build-essential  # Instal dependensi sistem yang diperlukan

    - name: Install Python dependencies
      run: |
        pip install --upgrade pip  
        pip install mlflow pandas scikit-learn matplotlib seaborn 

    - name: Set MLflow Tracking URI
      run: |
        echo "MLFLOW_TRACKING_URI=file:$PWD/mlruns" >> $GITHUB_ENV  # Set tracking URI untuk MLflow

    - name: Run MLflow Project
      run: |
        python -m mlflow run ./MLProject --env-manager=local onment

    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts  
        path: mlruns  
