name: CI for Model Training

on:
  push:
    branches:
      - main 

jobs:
  preprocess:
    runs-on: ubuntu-latest 
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2  

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas numpy scikit-learn mlflow matplotlib seaborn  # Instal dependensi langsung
    
    - name: Run preprocessing script
      run: python preprocessing/automate_Nama-siswa.py  
    
    - name: Train model
      run: python modelling.py  l
    
    - name: List files
      run: ls -l 

    - name: Upload model and metrics as artifacts
      uses: actions/upload-artifact@v2
      with:
        name: model-artifacts  
        path: |
          best_model  # Menyimpan model yang dilatih (sesuaikan dengan nama file yang benar)
          screenshoot_dashboard.jpg  
          screenshoot_artifak.jpg  
